.banner {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-index {
    background-image: url("../img/bannerIndex.png");
}

.banner-agro {
    background-image: url("../img/bannerAgro.png");
}

.banner-cultivo {
    background-image: url("../img/bannerCultivo.png");
}

.banner-ia {
    background-image: url("../img/bannerIA.png");
}

.banner-solucao {
    background-image: url("../img/bannerSolucao.png");
}