footer {
    background-color: var(--primaria);
    padding: 20px;
    text-align: center;
    color: #fff;
    width: 100%;
}
  
footer h2 {
    margin-bottom: 10px;
}
  
footer div {
    display: flex;
    justify-content: center;
}
  
footer div > div {
    margin: 0 20px;
}
  
footer p {
    margin: 0;
}